@import "globals.css";

header {
    display: flex;
    align-items: center;
    box-shadow: var(--blck) 0 4px 4px;
}

header img {
    height: var(--tbig);
    margin-right: var(--tsmlx);
}

nav {
    margin-left: auto;
}

nav a {
    padding: 0 var(--tsmlx);
}